<div class="content">
    <form name="contactForm" ng-submit="sendMessage()" novalidate>
        <div ng-show="contactForm.name.$touched && contactForm.name.$invalid">
            <small style="color: red; display:block; text-align:center;"> The name fiel is required!</small>
        </div>
        <input type="text" placeholder="name" name="name" ng-required="true" ng-model="contact.name">
        <div ng-show="contactForm.email.$touched && contactForm.email.$invalid">
            <small style="color: red; display:block; text-align:center;"> Enter a valid Email!</small>
        </div>
        <input type="email" placeholder="Email" name="email" ng-required="true" ng-model="contact.email">
        <div ng-show="contactForm.message.$touched && contactForm.message.$invalid">
            <small style="color: red; display:block; text-align:center;"> A message is required!</small>
        </div>
        <textarea name="message" placeholder="Your message goes here" 
        style="width: 100%; border-radius: 3px; border-style: block;" ng-required="true" ng-model="contact.message"></textarea>
        <input type="submit" value="send" ng-disabled="contactForm.$invalid">
    </form>
</div>